In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import qc, config, tools

from importlib import reload

pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999

In [2]:
reload(qc)

query_n = 75

a = qc.QueryQC()
a.test = "ds"
a.scale = 1
a.cid = "01"
a.stream_n = 1
a.desc =  f"qc_query"
a.seq_id = "NA"

a.verbose = False
a.verbose_query = False
a.qual = False
a.save = True
a.verbose_iter = False

a.set_timestamp_dir()

df, df_all = a.table_compare()

Result Folder Name:
/home/colin/code/bq_snowflake_benchmark/results/bqsf_ds_01_results--qc_query-2020-06-05_16:56:34.247946

In [3]:
df

,rows_bq,bytes_bq,rows_sf,bytes_sf,match
dataset,,,,,
ds_10000gb_01,56851334591,11880244145940,0,0,<NA>
ds_1000gb,0,0,6347311649,309072498688,<NA>
ds_1000gb_01,6347385690,1210061577168,0,0,<NA>
ds_100gb,0,0,959026300,31987926528,<NA>
ds_100gb_01,959026314,131519860742,959026314,31986509312,<NA>
ds_100gb_0x,0,0,959026314,31986509312,<NA>
ds_1gb,0,0,19487438,364610560,<NA>
ds_1gb_01,19560492,1733417840,19560492,366836736,<NA>
ds_1gb_02,0,0,19560492,366836736,<NA>
ds_1gb_03,0,0,19560492,366836736,<NA>
ds_2gb,0,0,30322414,683993600,<NA>
h_10000gb,0,0,86599993719,2930019999744,<NA>
h_10000gb_01,86599994297,12181455171998,0,0,<NA>
h_10000gb_02,86599994297,12181455171998,0,0,<NA>
h_10000gb_03,86599994297,12181455171998,0,0,<NA>
h_10000gb_04,86599994297,12181455171998,0,0,<NA>
h_1000gb,0,0,8659989161,286713240064,<NA>
h_1000gb_01,8659989739,1218094056198,0,0,<NA>
h_1000gb_01_part_1,7649989709,1064085225389,0,0,<NA>
h_1000gb_02,8659989739,1218094056198,0,0,<NA>
h_1000gb_03,8659989739,1218094056198,0,0,<NA>
h_1000gb_04,8659989739,1218094056198,0,0,<NA>
h_100gb,0,0,866037932,27540365312,<NA>
h_100gb_01,866037932,121814910941,0,0,<NA>
h_100gb_01_part_1,765037902,106413916009,0,0,<NA>
h_100gb_02,866037932,121814910941,0,0,<NA>
h_100gb_03,866037932,121814910941,0,0,<NA>
h_100gb_04,866037932,121814910941,0,0,<NA>
h_1gb,0,0,8661245,260901376,<NA>
h_1gb_01,0,0,8661245,260901376,<NA>
h_1gb_qual,8661245,1218354537,0,0,<NA>
h_2gb,0,0,17318026,524304384,<NA>

In [5]:
x = df_all[df_all.dataset == "ds_1gb_01"]
x

,dataset,table,rows_bq,bytes_bq,rows_sf,bytes_sf,match
76,ds_1gb_01,call_center,6,2154,6,4608,True
77,ds_1gb_01,catalog_page,11718,1815530,11718,647168,True
78,ds_1gb_01,catalog_returns,143752,30535072,143752,7510528,True
79,ds_1gb_01,catalog_sales,1440823,390241448,1440823,94934528,True
80,ds_1gb_01,customer,100000,15879054,100000,4730368,True
81,ds_1gb_01,customer_address,50000,6322857,50000,978944,True
82,ds_1gb_01,customer_demographics,1920800,127870400,1920800,9341440,True
83,ds_1gb_01,date_dim,73049,14254991,73049,2223616,True
84,ds_1gb_01,dbgen_version,0,0,0,0,True
85,ds_1gb_01,household_demographics,7200,298800,7200,26112,True
86,ds_1gb_01,income_band,20,480,20,1024,True
87,ds_1gb_01,inventory,11745000,371135920,11745000,50420224,True
88,ds_1gb_01,item,18000,5681605,18000,1511424,True
89,ds_1gb_01,promotion,300,44513,300,14336,True
90,ds_1gb_01,reason,35,1558,35,1536,True
91,ds_1gb_01,ship_mode,20,1271,20,2048,True
92,ds_1gb_01,store,12,3583,12,4608,True
93,ds_1gb_01,store_returns,289055,44795144,289055,11531264,True
94,ds_1gb_01,store_sales,2882454,508470216,2882454,131052032,True
95,ds_1gb_01,time_dim,86400,7081200,86400,1112576,True
96,ds_1gb_01,warehouse,5,699,5,2048,True
97,ds_1gb_01,web_page,60,7092,60,2560,True
98,ds_1gb_01,web_returns,72237,13296680,72237,3567104,True
99,ds_1gb_01,web_sales,719516,195667992,719516,47209984,True
100,ds_1gb_01,web_site,30,9581,30,6656,True

In [6]:
x.table

76                call_center
77               catalog_page
78            catalog_returns
79              catalog_sales
80                   customer
81           customer_address
82      customer_demographics
83                   date_dim
84              dbgen_version
85     household_demographics
86                income_band
87                  inventory
88                       item
89                  promotion
90                     reason
91                  ship_mode
92                      store
93              store_returns
94                store_sales
95                   time_dim
96                  warehouse
97                   web_page
98                web_returns
99                  web_sales
100                  web_site
Name: table, dtype: object