In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import qc, config, tools, sfa

from importlib import reload

pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999
pd.set_option('precision', 7)

q1 = """create view revenue0 (supplier_no, total_revenue) as
	select
		l_suppkey,
		sum(l_extendedprice * (1 - l_discount))
	from
		lineitem
	where
		l_shipdate >= date '1995-01-01'
		and l_shipdate < dateadd(month, 3, to_date('1995-01-01'))
	group by
		l_suppkey;"""

q2 = """select
	s_suppkey,
	s_name,
	s_address,
	s_phone,
	total_revenue
from
	supplier,
	revenue0
where
	s_suppkey = supplier_no
	and total_revenue = (
		select
			max(total_revenue)
		from
			revenue0
	)
order by
	s_suppkey;"""

q3 = """drop view revenue0
;"""

print(q1)

pd.Timestamp.now()

sf = sfa.SFTPC(test="h",
               scale=1,
               cid="01",
               warehouse="TEST9000",
               desc="test",
               verbose=True,
               verbose_query=False)

sf.timestamp = pd.Timestamp.now()
sf.results_dir = ""
sf.connect()

sf_query_result = sf.sfc.query(query_text=q1)

sf_query_result.fetchall()

sf_query_result.fetch_pandas_all()

sf_query_result = sf.sfc.query(query_text=q2)

sf_result_fall = sf_query_result.fetchall()
sf_result_fall

sf_query_result.fetch_pandas_all()

df_sf_result

sf_query_result = sf.sfc.query(query_text=q3)

sf_query_result.fetchall()

sf_query_result.fetch_pandas_all()

sf.query_n(n=15)

sf.close()

In [2]:
reload(qc)
reload(sfa)

#query_n = 75

a = qc.QueryQC()
a.test = "h"
a.scale = 1
a.cid = "01"
a.stream_n = 1
a.desc =  f"qc_query"
a.seq_id = "NA"

a.verbose = False
a.verbose_query = True
a.qual = False
a.save = True
a.verbose_iter = True

a.set_timestamp_dir()

#a.run_single(query_n = query_n)

#seq = tools.tpc_stream(test="ds", n=1)
seq = tools.tpc_stream(test="h", n=1)
#seq = [1, 15]
print("Sequence:")
print(seq)
print("="*40)


a.run(seq=seq)
df_results = a.compare()

Result Folder Name:
/home/colin/code/bq_snowflake_benchmark/results/bqsf_h_01_results--qc_query-2020-06-19_11:11:53.323618
Sequence:
[21, 3, 18, 5, 11, 7, 6, 20, 17, 12, 16, 15, 13, 10, 2, 8, 14, 19, 9, 22, 1, 4]
========================================
SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET TIMEZONE = 'UTC'

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-xx-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET USE_CACHED_RESULT=false

SNOWFLAKE QUERY TEXT
====================
0  USE WAREHOUSE TEST9000

SNOWFLAKE QUERY TEXT
====================
0  USE DATABASE h_1GB_01

========================================
Snowflake Start Query: 21
--------------------
Stream Completion: 1 / 22
Query Label: h_1gb_01-q21-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q21-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	s_name,
2  	count(*) as numwait
3  from
4  	supplier,
5  	lineitem l1,
6  	orders,
7  	nation
8  where
9  	s_suppkey = l1.l_suppkey
10  	and o_orderkey = l1.l_orderkey
11  	and o_orderstatus = 'F'
12  	and l1.l_receiptdate > l1.l_commitdate
13  	and exists (
14  		select
15  			*
16  		from
17  			lineitem l2
18  		where
19  			l2.l_orderkey = l1.l_orderkey
20  			and l2.l_suppkey <> l1.l_suppkey
21  	)
22  	and not exists (
23  		select
24  			*
25  		from
26  			lineitem l3
27  		where
28  			l3.l_orderkey = l1.l_orderkey
29  			and l3.l_suppkey <> l1.l_suppkey
30  			and l3.l_receiptdate > l3.l_commitdate
31  	)
32  	and s_nationkey = n_nationkey
33  	and n_name = 'MOROCCO'
34  group by
35  	s_name
36  order by
37  	numwait desc,
38  	s_name
39  limit 100
40  ;
41

Query ID: 01950443-025e-5f59-0009-c08300069526
Total Time Elapsed: 0 days 00:00:01.719913
----------------------------------------

========================================
Snowflake Start Query: 3
--------------------
Stream Completion: 2 / 22
Query Label: h_1gb_01-q3-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q3-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	l_orderkey,
2  	sum(l_extendedprice * (1 - l_discount)) as revenue,
3  	o_orderdate,
4  	o_shippriority
5  from
6  	customer,
7  	orders,
8  	lineitem
9  where
10  	c_mktsegment = 'FURNITURE'
11  	and c_custkey = o_custkey
12  	and l_orderkey = o_orderkey
13  	and o_orderdate < date '1995-03-15'
14  	and l_shipdate > date '1995-03-15'
15  group by
16  	l_orderkey,
17  	o_orderdate,
18  	o_shippriority
19  order by
20  	revenue desc,
21  	o_orderdate
22  limit 10
23  ;

Query ID: 01950443-0250-9542-0009-c08300068562
Total Time Elapsed: 0 days 00:00:00.885941
----------------------------------------

========================================
Snowflake Start Query: 18
--------------------
Stream Completion: 3 / 22
Query Label: h_1gb_01-q18-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q18-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	c_name,
2  	c_custkey,
3  	o_orderkey,
4  	o_orderdate,
5  	o_totalprice,
6  	sum(l_quantity)
7  from
8  	customer,
9  	orders,
10  	lineitem
11  where
12  	o_orderkey in (
13  		select
14  			l_orderkey
15  		from
16  			lineitem
17  		group by
18  			l_orderkey having
19  				sum(l_quantity) > 313
20  	)
21  	and c_custkey = o_custkey
22  	and o_orderkey = l_orderkey
23  group by
24  	c_name,
25  	c_custkey,
26  	o_orderkey,
27  	o_orderdate,
28  	o_totalprice
29  order by
30  	o_totalprice desc,
31  	o_orderdate
32  limit 100
33  ;
34

Query ID: 01950443-02ef-d094-0009-c08300068566
Total Time Elapsed: 0 days 00:00:00.692931
----------------------------------------

========================================
Snowflake Start Query: 5
--------------------
Stream Completion: 4 / 22
Query Label: h_1gb_01-q5-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q5-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	n_name,
2  	sum(l_extendedprice * (1 - l_discount)) as revenue
3  from
4  	customer,
5  	orders,
6  	lineitem,
7  	supplier,
8  	nation,
9  	region
10  where
11  	c_custkey = o_custkey
12  	and l_orderkey = o_orderkey
13  	and l_suppkey = s_suppkey
14  	and c_nationkey = s_nationkey
15  	and s_nationkey = n_nationkey
16  	and n_regionkey = r_regionkey
17  	and r_name = 'AFRICA'
18  	and o_orderdate >= date '1996-01-01'
19  	and o_orderdate < dateadd(year, 1, to_date('1996-01-01'))
20  group by
21  	n_name
22  order by
23  	revenue desc
24  ;
25

Query ID: 01950443-0298-bfe9-0009-c08300069532
Total Time Elapsed: 0 days 00:00:00.593672
----------------------------------------

========================================
Snowflake Start Query: 11
--------------------
Stream Completion: 5 / 22
Query Label: h_1gb_01-q11-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q11-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	ps_partkey,
2  	sum(ps_supplycost * ps_availqty) as value
3  from
4  	partsupp,
5  	supplier,
6  	nation
7  where
8  	ps_suppkey = s_suppkey
9  	and s_nationkey = n_nationkey
10  	and n_name = 'FRANCE'
11  group by
12  	ps_partkey having
13  		sum(ps_supplycost * ps_availqty) > (
14  			select
15  				sum(ps_supplycost * ps_availqty) * 0.0001000000
16  			from
17  				partsupp,
18  				supplier,
19  				nation
20  			where
21  				ps_suppkey = s_suppkey
22  				and s_nationkey = n_nationkey
23  				and n_name = 'FRANCE'
24  		)
25  order by
26  	value desc
27  ;
28

Query ID: 01950443-02ae-ae69-0009-c0830006856e
Total Time Elapsed: 0 days 00:00:00.980774
----------------------------------------

========================================
Snowflake Start Query: 7
--------------------
Stream Completion: 6 / 22
Query Label: h_1gb_01-q7-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q7-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	supp_nation,
2  	cust_nation,
3  	l_year,
4  	sum(volume) as revenue
5  from
6  	(
7  		select
8  			n1.n_name as supp_nation,
9  			n2.n_name as cust_nation,
10  			extract(year from l_shipdate) as l_year,
11  			l_extendedprice * (1 - l_discount) as volume
12  		from
13  			supplier,
14  			lineitem,
15  			orders,
16  			customer,
17  			nation n1,
18  			nation n2
19  		where
20  			s_suppkey = l_suppkey
21  			and o_orderkey = l_orderkey
22  			and c_custkey = o_custkey
23  			and s_nationkey = n1.n_nationkey
24  			and c_nationkey = n2.n_nationkey
25  			and (
26  				(n1.n_name = 'JAPAN' and n2.n_name = 'BRAZIL')
27  				or (n1.n_name = 'BRAZIL' and n2.n_name = 'JAPAN')
28  			)
29  			and l_shipdate between date '1995-01-01' and date '1996-12-31'
30  	) as shipping
31  group by
32  	supp_nation,
33  	cust_nation,
34  	l_year
35  order by
36  	supp_nation,
37  	cust_nation,
38  	l_year
39  ;
40

Query ID: 01950444-02e7-d181-0009-c0830006953a
Total Time Elapsed: 0 days 00:00:00.641645
----------------------------------------

========================================
Snowflake Start Query: 6
--------------------
Stream Completion: 7 / 22
Query Label: h_1gb_01-q6-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q6-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	sum(l_extendedprice * l_discount) as revenue
2  from
3  	lineitem
4  where
5  	l_shipdate >= date '1996-01-01'
6  	and l_shipdate < dateadd(year, 1, to_date('1996-01-01'))
7  	and l_discount between 0.06 - 0.01 and 0.06 + 0.01
8  	and l_quantity < 25
9  ;
10

Query ID: 01950444-0298-83d7-0009-c0830006953e
Total Time Elapsed: 0 days 00:00:00.352171
----------------------------------------

========================================
Snowflake Start Query: 20
--------------------
Stream Completion: 8 / 22
Query Label: h_1gb_01-q20-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q20-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	s_name,
2  	s_address
3  from
4  	supplier,
5  	nation
6  where
7  	s_suppkey in (
8  		select
9  			ps_suppkey
10  		from
11  			partsupp
12  		where
13  			ps_partkey in (
14  				select
15  					p_partkey
16  				from
17  					part
18  				where
19  					p_name like 'sienna%'
20  			)
21  			and ps_availqty > (
22  				select
23  					0.5 * sum(l_quantity)
24  				from
25  					lineitem
26  				where
27  					l_partkey = ps_partkey
28  					and l_suppkey = ps_suppkey
29  					and l_shipdate >= date '1996-01-01'
30  					and l_shipdate < dateadd(year, 1, to_date('1996-01-01'))
31  			)
32  	)
33  	and s_nationkey = n_nationkey
34  	and n_name = 'FRANCE'
35  order by
36  	s_name
37  ;
38

Query ID: 01950444-0219-f73d-0009-c08300069542
Total Time Elapsed: 0 days 00:00:01.129715
----------------------------------------

========================================
Snowflake Start Query: 17
--------------------
Stream Completion: 9 / 22
Query Label: h_1gb_01-q17-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q17-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	sum(l_extendedprice) / 7.0 as avg_yearly
2  from
3  	lineitem,
4  	part
5  where
6  	p_partkey = l_partkey
7  	and p_brand = 'Brand#12'
8  	and p_container = 'WRAP PKG'
9  	and l_quantity < (
10  		select
11  			0.2 * avg(l_quantity)
12  		from
13  			lineitem
14  		where
15  			l_partkey = p_partkey
16  	)
17  ;
18

Query ID: 01950444-0285-157d-0009-c08300068582
Total Time Elapsed: 0 days 00:00:00.480466
----------------------------------------

========================================
Snowflake Start Query: 12
--------------------
Stream Completion: 10 / 22
Query Label: h_1gb_01-q12-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q12-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	l_shipmode,
2  	sum(case
3  		when o_orderpriority = '1-URGENT'
4  			or o_orderpriority = '2-HIGH'
5  			then 1
6  		else 0
7  	end) as high_line_count,
8  	sum(case
9  		when o_orderpriority <> '1-URGENT'
10  			and o_orderpriority <> '2-HIGH'
11  			then 1
12  		else 0
13  	end) as low_line_count
14  from
15  	orders,
16  	lineitem
17  where
18  	o_orderkey = l_orderkey
19  	and l_shipmode in ('MAIL', 'TRUCK')
20  	and l_commitdate < l_receiptdate
21  	and l_shipdate < l_commitdate
22  	and l_receiptdate >= date '1996-01-01'
23  	and l_receiptdate < dateadd(year, 1, to_date('1996-01-01'))
24  group by
25  	l_shipmode
26  order by
27  	l_shipmode
28  ;
29

Query ID: 01950444-0291-31df-0009-c08300068586
Total Time Elapsed: 0 days 00:00:00.483052
----------------------------------------

========================================
Snowflake Start Query: 16
--------------------
Stream Completion: 11 / 22
Query Label: h_1gb_01-q16-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q16-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	p_brand,
2  	p_type,
3  	p_size,
4  	count(distinct ps_suppkey) as supplier_cnt
5  from
6  	partsupp,
7  	part
8  where
9  	p_partkey = ps_partkey
10  	and p_brand <> 'Brand#21'
11  	and p_type not like 'MEDIUM BURNISHED%'
12  	and p_size in (47, 43, 32, 15, 6, 44, 23, 20)
13  	and ps_suppkey not in (
14  		select
15  			s_suppkey
16  		from
17  			supplier
18  		where
19  			s_comment like '%Customer%Complaints%'
20  	)
21  group by
22  	p_brand,
23  	p_type,
24  	p_size
25  order by
26  	supplier_cnt desc,
27  	p_brand,
28  	p_type,
29  	p_size
30  ;
31

Query ID: 01950444-02d0-1d1c-0009-c0830006858e
Total Time Elapsed: 0 days 00:00:01.168205
----------------------------------------

========================================
Snowflake Start Query: 15
--------------------
Stream Completion: 12 / 22
Query Label: h_1gb_01-q15-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q15-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  create view revenue0 (supplier_no, total_revenue) as
1  	select
2  		l_suppkey,
3  		sum(l_extendedprice * (1 - l_discount))
4  	from
5  		lineitem
6  	where
7  		l_shipdate >= date '1995-01-01'
8  		and l_shipdate < dateadd(month, 3, to_date('1995-01-01'))
9  	group by
10  		l_suppkey;

SNOWFLAKE QUERY TEXT
====================
0
1
2
3  select
4  	s_suppkey,
5  	s_name,
6  	s_address,
7  	s_phone,
8  	total_revenue
9  from
10  	supplier,
11  	revenue0
12  where
13  	s_suppkey = supplier_no
14  	and total_revenue = (
15  		select
16  			max(total_revenue)
17  		from
18  			revenue0
19  	)
20  order by
21  	s_suppkey;

SNOWFLAKE QUERY TEXT
====================
0
1
2  drop view revenue0
3  ;

Query ID: 01950444-02f9-35b2-0009-c08300069552
Total Time Elapsed: 0 days 00:00:00.707257
----------------------------------------

========================================
Snowflake Start Query: 13
--------------------
Stream Completion: 13 / 22
Query Label: h_1gb_01-q13-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q13-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	c_count,
2  	count(*) as custdist
3  from
4  	(
5  		select
6  			c_custkey,
7  			count(o_orderkey)
8  		from
9  			customer left outer join orders on
10  				c_custkey = o_custkey
11  				and o_comment not like '%pending%accounts%'
12  		group by
13  			c_custkey
14  	) as c_orders (c_custkey, c_count)
15  group by
16  	c_count
17  order by
18  	custdist desc,
19  	c_count desc
20  ;
21

Query ID: 01950444-02eb-7af1-0009-c0830006955a
Total Time Elapsed: 0 days 00:00:00.774002
----------------------------------------

========================================
Snowflake Start Query: 10
--------------------
Stream Completion: 14 / 22
Query Label: h_1gb_01-q10-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q10-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	c_custkey,
2  	c_name,
3  	sum(l_extendedprice * (1 - l_discount)) as revenue,
4  	c_acctbal,
5  	n_name,
6  	c_address,
7  	c_phone,
8  	c_comment
9  from
10  	customer,
11  	orders,
12  	lineitem,
13  	nation
14  where
15  	c_custkey = o_custkey
16  	and l_orderkey = o_orderkey
17  	and o_orderdate >= date '1993-10-01'
18  	and o_orderdate < dateadd(month, 3, to_date('1993-10-01'))
19  	and l_returnflag = 'R'
20  	and c_nationkey = n_nationkey
21  group by
22  	c_custkey,
23  	c_name,
24  	c_acctbal,
25  	c_phone,
26  	n_name,
27  	c_address,
28  	c_comment
29  order by
30  	revenue desc
31  limit 20
32  ;

Query ID: 01950444-02ba-8cdf-0009-c0830006955e
Total Time Elapsed: 0 days 00:00:00.673029
----------------------------------------

========================================
Snowflake Start Query: 2
--------------------
Stream Completion: 15 / 22
Query Label: h_1gb_01-q2-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q2-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	s_acctbal,
2  	s_name,
3  	n_name,
4  	p_partkey,
5  	p_mfgr,
6  	s_address,
7  	s_phone,
8  	s_comment
9  from
10  	part,
11  	supplier,
12  	partsupp,
13  	nation,
14  	region
15  where
16  	p_partkey = ps_partkey
17  	and s_suppkey = ps_suppkey
18  	and p_size = 29
19  	and p_type like '%STEEL'
20  	and s_nationkey = n_nationkey
21  	and n_regionkey = r_regionkey
22  	and r_name = 'ASIA'
23  	and ps_supplycost = (
24  		select
25  			min(ps_supplycost)
26  		from
27  			partsupp,
28  			supplier,
29  			nation,
30  			region
31  		where
32  			p_partkey = ps_partkey
33  			and s_suppkey = ps_suppkey
34  			and s_nationkey = n_nationkey
35  			and n_regionkey = r_regionkey
36  			and r_name = 'ASIA'
37  	)
38  order by
39  	s_acctbal desc,
40  	n_name,
41  	s_name,
42  	p_partkey
43  limit 100
44  ;

Query ID: 01950444-028c-77a1-0009-c0830006859a
Total Time Elapsed: 0 days 00:00:00.640337
----------------------------------------

========================================
Snowflake Start Query: 8
--------------------
Stream Completion: 16 / 22
Query Label: h_1gb_01-q8-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q8-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	o_year,
2  	sum(case
3  		when nation = 'JAPAN' then volume
4  		else 0
5  	end) / sum(volume) as mkt_share
6  from
7  	(
8  		select
9  			extract(year from o_orderdate) as o_year,
10  			l_extendedprice * (1 - l_discount) as volume,
11  			n2.n_name as nation
12  		from
13  			part,
14  			supplier,
15  			lineitem,
16  			orders,
17  			customer,
18  			nation n1,
19  			nation n2,
20  			region
21  		where
22  			p_partkey = l_partkey
23  			and s_suppkey = l_suppkey
24  			and l_orderkey = o_orderkey
25  			and o_custkey = c_custkey
26  			and c_nationkey = n1.n_nationkey
27  			and n1.n_regionkey = r_regionkey
28  			and r_name = 'ASIA'
29  			and s_nationkey = n2.n_nationkey
30  			and o_orderdate between date '1995-01-01' and date '1996-12-31'
31  			and p_type = 'STANDARD PLATED BRASS'
32  	) as all_nations
33  group by
34  	o_year
35  order by
36  	o_year
37  ;
38

Query ID: 01950444-02df-ca29-0009-c0830006956a
Total Time Elapsed: 0 days 00:00:00.940885
----------------------------------------

========================================
Snowflake Start Query: 14
--------------------
Stream Completion: 17 / 22
Query Label: h_1gb_01-q14-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q14-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	100.00 * sum(case
2  		when p_type like 'PROMO%'
3  			then l_extendedprice * (1 - l_discount)
4  		else 0
5  	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
6  from
7  	lineitem,
8  	part
9  where
10  	l_partkey = p_partkey
11  	and l_shipdate >= date '1996-09-01'
12  	and l_shipdate < dateadd(month, 1, to_date('1996-09-01'))
13  ;
14

Query ID: 01950444-0260-43cf-0009-c08300069572
Total Time Elapsed: 0 days 00:00:00.196573
----------------------------------------

========================================
Snowflake Start Query: 19
--------------------
Stream Completion: 18 / 22
Query Label: h_1gb_01-q19-na-qc_query
--------------------

SNOWFLAKE QUERY TEXT
====================
0  ALTER SESSION SET QUERY_TAG = 'h_1gb_01-q19-na-qc_query'

SNOWFLAKE QUERY TEXT
====================
0  select
1  	sum(l_extendedprice* (1 - l_discount)) as revenue
2  from
3  	lineitem,
4  	part
5  where
6  	(
7  		p_partkey = l_partkey
8  		and p_brand = 'Brand#55'
9  		and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
10  		and l_quantity >= 4 and l_quantity <= 4 + 10
11  		and p_size between 1 and 5
12  		and l_shipmode in ('AIR', 'AIR REG')
13  		and l_shipinstruct = 'DELIVER IN PERSON'
14  	)
15  	or
16  	(
17  		p_partkey = l_partkey
18  		and p_brand = 'Brand#42'
19  		and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
20  		and l_quantity >= 13 and l_quantity <= 13 + 10
21  		and p_size between 1 and 10
22  		and l_shipmode in ('AIR', 'AIR REG')
23  		and l_shipinstruct = 'DELIVER IN PERSON'
24  	)
25  	or
26  	(
27  		p_partkey = l_partkey
28  		and p_brand = 'Brand#15'
29  		and p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
30  		and l_quantity >= 21 and l_quantity <= 21 + 10
31  		and p_size between 1 and 15
32  		and l_shipmode in ('AIR', 'AIR REG')

In [3]:
df_results

,fp_bq,q_bq,fp_sf,q_sf,equal,equal_percent
1,/home/colin/code/bq_snowflake_benchmark/result...,1,/home/colin/code/bq_snowflake_benchmark/result...,1,True,1.0000000
2,/home/colin/code/bq_snowflake_benchmark/result...,2,/home/colin/code/bq_snowflake_benchmark/result...,2,True,1.0000000
3,/home/colin/code/bq_snowflake_benchmark/result...,3,/home/colin/code/bq_snowflake_benchmark/result...,3,True,1.0000000
4,/home/colin/code/bq_snowflake_benchmark/result...,4,/home/colin/code/bq_snowflake_benchmark/result...,4,True,1.0000000
5,/home/colin/code/bq_snowflake_benchmark/result...,5,/home/colin/code/bq_snowflake_benchmark/result...,5,True,1.0000000
6,/home/colin/code/bq_snowflake_benchmark/result...,6,/home/colin/code/bq_snowflake_benchmark/result...,6,False,0.0000000
7,/home/colin/code/bq_snowflake_benchmark/result...,7,/home/colin/code/bq_snowflake_benchmark/result...,7,True,1.0000000
8,/home/colin/code/bq_snowflake_benchmark/result...,8,/home/colin/code/bq_snowflake_benchmark/result...,8,True,1.0000000
9,/home/colin/code/bq_snowflake_benchmark/result...,9,/home/colin/code/bq_snowflake_benchmark/result...,9,False,0.9961905
10,/home/colin/code/bq_snowflake_benchmark/result...,10,/home/colin/code/bq_snowflake_benchmark/result...,10,True,1.0000000
11,/home/colin/code/bq_snowflake_benchmark/result...,11,/home/colin/code/bq_snowflake_benchmark/result...,11,True,1.0000000
12,/home/colin/code/bq_snowflake_benchmark/result...,12,/home/colin/code/bq_snowflake_benchmark/result...,12,True,1.0000000
13,/home/colin/code/bq_snowflake_benchmark/result...,13,/home/colin/code/bq_snowflake_benchmark/result...,13,True,1.0000000
14,/home/colin/code/bq_snowflake_benchmark/result...,14,/home/colin/code/bq_snowflake_benchmark/result...,14,True,1.0000000
15,/home/colin/code/bq_snowflake_benchmark/result...,15,/home/colin/code/bq_snowflake_benchmark/result...,15,True,1.0000000
16,/home/colin/code/bq_snowflake_benchmark/result...,16,/home/colin/code/bq_snowflake_benchmark/result...,16,True,1.0000000
17,/home/colin/code/bq_snowflake_benchmark/result...,17,/home/colin/code/bq_snowflake_benchmark/result...,17,True,1.0000000
18,/home/colin/code/bq_snowflake_benchmark/result...,18,/home/colin/code/bq_snowflake_benchmark/result...,18,False,0.7142857
19,/home/colin/code/bq_snowflake_benchmark/result...,19,/home/colin/code/bq_snowflake_benchmark/result...,19,True,1.0000000
20,/home/colin/code/bq_snowflake_benchmark/result...,20,/home/colin/code/bq_snowflake_benchmark/result...,20,True,1.0000000
21,/home/colin/code/bq_snowflake_benchmark/result...,21,/home/colin/code/bq_snowflake_benchmark/result...,21,True,1.0000000
22,/home/colin/code/bq_snowflake_benchmark/result...,22,/home/colin/code/bq_snowflake_benchmark/result...,22,True,1.0000000

In [4]:
x = df_results.equal.sum()/len(df_results)
print(f"Query Stream Complete: {x*100}%")
print("Error Queries:",
      list(df_results.loc[df_results.equal == False, "q_sf"].values))

Query Stream Complete: 86.36363636363636%
Error Queries: [6, 9, 18]

In [5]:
df_results.loc[df_results.equal == False, ["q_bq", "equal_percent"]]

    q_bq  equal_percent
6      6      0.0000000
9      9      0.9961905
18    18      0.7142857

In [6]:
break

SyntaxError: 'break' outside loop (<ipython-input-6-6aaf1f276005>, line 4)

## Query Result from CSV

df_sf1 = a.result_sf_csv
df_bq1 = a.result_sf_csv

## Query Result Comparison

In [ ]:
df_sf = a.result_sf
df_bq = a.result_bq

In [ ]:
df_sf.dtypes

In [ ]:
df_bq.dtypes

In [ ]:
df_sf = tools.to_consistent(df_sf, n=5)
df_bq = tools.to_consistent(df_bq, n=5)

In [ ]:
qc.assert_equal(df_sf, df_bq)

In [ ]:
def color_false(val):
    mapper = {True: 'white', False: 'red'}
    return 'color: %s' % mapper[val]

In [ ]:
diff = df_sf.eq(df_bq)
diff.loc[0:5].style.applymap(color_false)

In [ ]:
df_diff = diff.sum().sum() / (diff.shape[0] * diff.shape[1])
print("Percent Data Match:", df_diff)

In [ ]:
diff.sum()/diff.shape[0]

In [ ]:
diff.style.applymap(color_false)