### TPC Benchmarking  
Results Plotting

In [1]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

sns.set_context("notebook", font_scale=1.0, rc={"lines.linewidth": 1.0})

import config, sfa, bqa, tools

In [2]:
from importlib import reload

In [3]:
reload(sfa)
sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000",
               desc="query_history",
               verbose=False,
               verbose_query=False)
sf.connect()
dfr_sf_h, qid_sf = sf.query_history(t0=pd.Timestamp.now() - pd.Timedelta("72 hours"),
                                    t1=pd.Timestamp.now())

sf.close()

In [4]:
reload(sfa)
sf = sfa.AU(warehouse="TEST9000")
sf.connect()

dfr_sf_hv, qid_sf = sf.query_history_view(t0=pd.Timestamp.now() - pd.Timedelta("72 hours"),
                                          t1=pd.Timestamp.now())

sf.close()

In [5]:
dfr_sf_hv.head()

,QUERY_ID,QUERY_TEXT,DATABASE_ID,DATABASE_NAME,SCHEMA_ID,SCHEMA_NAME,QUERY_TYPE,SESSION_ID,USER_NAME,ROLE_NAME,...,TRANSACTION_BLOCKED_TIME,OUTBOUND_DATA_TRANSFER_CLOUD,OUTBOUND_DATA_TRANSFER_REGION,OUTBOUND_DATA_TRANSFER_BYTES,INBOUND_DATA_TRANSFER_CLOUD,INBOUND_DATA_TRANSFER_REGION,INBOUND_DATA_TRANSFER_BYTES,LIST_EXTERNAL_FILES_TIME,CREDITS_USED_CLOUD_SERVICES,RELEASE_VERSION
0,01945238-02af-8db5-0009-c0830003e5ae,SHOW WAREHOUSES;,None,None,None,None,SHOW,2744943663722546,DAUREN,ACCOUNTADMIN,...,0,None,None,0,None,None,0,0,0.0,4.16.4
1,01945239-020a-da0a-0009-c0830003d6d2,SHOW WAREHOUSES;,None,None,None,None,SHOW,2744943663722546,DAUREN,ACCOUNTADMIN,...,0,None,None,0,None,None,0,0,0.0,4.16.4
2,01945271-0215-8b44-0009-c0830003f5f2,SHOW WAREHOUSES;,None,None,None,None,SHOW,2744943663722546,DAUREN,ACCOUNTADMIN,...,0,None,None,0,None,None,0,0,0.0,4.16.4
3,01945217-029f-b683-0009-c0830003f5ea,SHOW WAREHOUSES;,None,None,None,None,SHOW,2744943663722546,DAUREN,ACCOUNTADMIN,...,0,None,None,0,None,None,0,0,0.0,4.16.4
4,01945215-0275-826a-0009-c0830003d6c2,SHOW WAREHOUSES;,None,None,None,None,SHOW,2744943663722546,DAUREN,ACCOUNTADMIN,...,0,None,None,0,None,None,0,0,0.0,4.16.4

In [6]:
dfr_sf_hv.dtypes

QUERY_ID                                        object
QUERY_TEXT                                      object
DATABASE_ID                                     object
DATABASE_NAME                                   object
SCHEMA_ID                                       object
SCHEMA_NAME                                     object
QUERY_TYPE                                      object
SESSION_ID                                      object
USER_NAME                                       object
ROLE_NAME                                       object
WAREHOUSE_ID                                    object
WAREHOUSE_NAME                                  object
WAREHOUSE_SIZE                                  object
WAREHOUSE_TYPE                                  object
CLUSTER_NUMBER                                  object
QUERY_TAG                                       object
EXECUTION_STATUS                                object
ERROR_CODE                                      object
ERROR_MESSAGE                                   object
START_TIME                         datetime64[ns, UTC]
END_TIME                           datetime64[ns, UTC]
TOTAL_ELAPSED_TIME                              object
BYTES_SCANNED                                   object
PERCENTAGE_SCANNED_FROM_CACHE                  float64
BYTES_WRITTEN                                   object
BYTES_WRITTEN_TO_RESULT                         object
BYTES_READ_FROM_RESULT                          object
ROWS_PRODUCED                                   object
ROWS_INSERTED                                   object
ROWS_UPDATED                                    object
ROWS_DELETED                                    object
ROWS_UNLOADED                                   object
BYTES_DELETED                                   object
PARTITIONS_SCANNED                              object
PARTITIONS_TOTAL                                object
BYTES_SPILLED_TO_LOCAL_STORAGE                  object
BYTES_SPILLED_TO_REMOTE_STORAGE                 object
BYTES_SENT_OVER_THE_NETWORK                     object
COMPILATION_TIME                                object
EXECUTION_TIME                                  object
QUEUED_PROVISIONING_TIME                        object
QUEUED_REPAIR_TIME                              object
QUEUED_OVERLOAD_TIME                            object
TRANSACTION_BLOCKED_TIME                        object
OUTBOUND_DATA_TRANSFER_CLOUD                    object
OUTBOUND_DATA_TRANSFER_REGION                   object
OUTBOUND_DATA_TRANSFER_BYTES                    object
INBOUND_DATA_TRANSFER_CLOUD                     object
INBOUND_DATA_TRANSFER_REGION                    object
INBOUND_DATA_TRANSFER_BYTES                     object
LIST_EXTERNAL_FILES_TIME                        object
CREDITS_USED_CLOUD_SERVICES                    float64
RELEASE_VERSION                                 object
dtype: object

dfr_sf.head()

dfr_sf.dtypes

base_keep = ["QUERY_ID", "QUERY_TEXT", "DATABASE_NAME", "WAREHOUSE_SIZE", "WAREHOUSE_TYPE",
             "QUERY_TAG", "START_TIME", "END_TIME", "TOTAL_ELAPSED_TIME", "BYTES_SCANNED",
             "CREDITS_USED_CLOUD_SERVICES"]

extended_keep = base_keep + ["PERCENTAGE_SCANNED_FROM_CACHE", 
                             "PARTITIONS_SCANNED", "PARTITIONS_TOTAL", 
                             "BYTES_SPILLED_TO_LOCAL_STORAGE", "BYTES_SPILLED_TO_REMOTE_STORAGE"]

dfr_sf_h = dfr_sf[base_keep]

In [7]:
qid_sf

'01945698-021f-ae56-0009-c0830003d95a'

In [15]:
reload(bqa)
bq = bqa.BQTPC(test="ds",
               scale=1,
               cid="01",
               desc="query_history",
               verbose=True,
               verbose_query=True)

dfr_bq, qid_bq = bq.query_history(t0=pd.Timestamp.now() - pd.Timedelta("72 hours"),
                                  t1=pd.Timestamp.now())

BigQuery configuration
=======================
Service Account:  bq-476262002685@bigquery-encryption.iam.gserviceaccount.com

QUERY TEXT
==========
select * from `region-us`.INFORMATION_SCHEMA.JOBS_BY_PROJECT where job_type = 'QUERY' and end_time between '2020-05-16 14:50:09' AND '2020-05-19 14:50:09'

In [16]:
qid_bq

'66525091-a234-44cd-a611-b16a16eba7b9'

In [17]:
dfr_bq.head()

,creation_time,project_id,project_number,user_email,job_id,job_type,statement_type,start_time,end_time,query,...,reservation_id,total_bytes_processed,total_slot_ms,error_result,cache_hit,destination_table,referenced_tables,labels,timeline,job_stages
0,2020-05-18 18:28:59.215000+00:00,tpc-benchmarking-9432,476262002685,476262002685-compute@developer.gserviceaccount...,8299eddd-b34b-461e-a727-3d4d8aea1cbf,QUERY,SELECT,2020-05-18 18:28:59.544000+00:00,2020-05-18 18:29:02.072000+00:00,select * from `region-us`.INFORMATION_SCHEMA.J...,...,None,4.628533e+09,27374.0,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_1gb_01-xx-query...","[{'elapsed_ms': 1024, 'total_slot_ms': 6447, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
1,2020-05-18 19:46:45.546000+00:00,tpc-benchmarking-9432,476262002685,476262002685-compute@developer.gserviceaccount...,6dca56f7-9a6b-4c0a-a72b-9b5e5e969d57,QUERY,SELECT,2020-05-18 19:46:46.109000+00:00,2020-05-18 19:46:48.709000+00:00,select * from `region-us`.INFORMATION_SCHEMA.J...,...,None,4.647109e+09,25616.0,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_1gb_01-xx-query...","[{'elapsed_ms': 1011, 'total_slot_ms': 5169, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
2,2020-05-18 18:05:57.156000+00:00,tpc-benchmarking-9432,476262002685,476262002685-compute@developer.gserviceaccount...,2b2e8604-d0cd-4351-9b87-714ab6676625,QUERY,None,2020-05-18 18:05:57.285000+00:00,2020-05-18 18:05:57.285000+00:00,select * from `region-us`.INFORMATION_SCHEMA.J...,...,None,NaN,NaN,"{'reason': 'invalidQuery', 'location': 'query'...",None,None,[],"[{'key': 'label', 'value': 'ds_1gb_01-xx-query...",[],[]
3,2020-05-18 18:09:58.608000+00:00,tpc-benchmarking-9432,476262002685,colin.dietrich@sada.com,bquxjob_13c6b9fc_17228f440d6,QUERY,SELECT,2020-05-18 18:09:59.342000+00:00,2020-05-18 18:10:02.173000+00:00,SELECT * \nFROM `region-us`.INFORMATION_SCHEMA...,...,None,4.608322e+09,61894.0,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...",[],"[{'elapsed_ms': 1072, 'total_slot_ms': 24526, ...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
4,2020-05-18 20:46:48.524000+00:00,tpc-benchmarking-9432,476262002685,476262002685-compute@developer.gserviceaccount...,6302c951-bcaa-4cf6-ac23-d9ebf796a220,QUERY,SELECT,2020-05-18 20:46:49.157000+00:00,2020-05-18 20:46:51.767000+00:00,select * from `region-us`.INFORMATION_SCHEMA.J...,...,None,4.661270e+09,26688.0,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_1gb_01-xx-query...","[{'elapsed_ms': 1226, 'total_slot_ms': 9027, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."

In [18]:
bq_job_keepers = ["job_id", "project_id", "job_type", "start_time", "end_time", 
                  "query", "total_bytes_processed", "labels"]

In [19]:
dfr_bq.dtypes

creation_time            datetime64[ns, UTC]
project_id                            object
project_number                         int64
user_email                            object
job_id                                object
job_type                              object
statement_type                        object
start_time               datetime64[ns, UTC]
end_time                 datetime64[ns, UTC]
query                                 object
state                                 object
reservation_id                        object
total_bytes_processed                float64
total_slot_ms                        float64
error_result                          object
cache_hit                             object
destination_table                     object
referenced_tables                     object
labels                                object
timeline                              object
job_stages                            object
dtype: object