### Compare Row Count  
Count the number of rows between systems under test. For TPC test and scale factor, the count should be identical.  

Note: The same source data should have been used to generate both databases. TPC data generators will generate slightly different data when generated with different numbers of CPU cores/threads.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import config, tools, compare

pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999

In [2]:
qc = compare.QueryCompare()

# these class attributes don't influence needed table metadata collection
qc.test = "ds"
qc.scale = 1
qc.cid = "01"
qc.stream_n = 1
qc.desc =  "qc_row_count"
qc.seq_id = "NA"

# none of these are useful in this case
qc.verbose = False
qc.verbose_query = False
qc.qual = False
qc.save = False
qc.verbose_iter = False

qc.set_timestamp_dir()

df, df_all = qc.table_compare()

In [3]:
df

                   rows_bq        bytes_bq      rows_sf       bytes_sf  match
dataset
ds_10000gb_01  56851334591  11880244145940            0              0   <NA>
ds_1000gb                0               0   6347311649   309072498688   <NA>
ds_1000gb_01    6347385690   1210061577168   6347385690   309077526016   <NA>
ds_1000gb_01a   6347385690   1210061577168   6347385690   309077526016   <NA>
ds_100gb_01      959026314    131519860742    959026314    31986509312   <NA>
ds_100gb_01a     959026314    131519860742    959026314    31986509312   <NA>
ds_100gb_01b     959026314    131519860742    959026314    31986509312   <NA>
ds_100gb_01c     959026314    131519860742    959026314    31986509312   <NA>
ds_100gb_02              0               0    959026314    31986509312   <NA>
ds_1gb_01         19555588      1732610195     19555588      366583808   <NA>
ds_1gb_02         19555588      1732610195     19555588      366583808   <NA>
h_10000gb                0               0  86599993719  2930019999744   <NA>
h_10000gb_01   86599994297  12181455171998            0              0   <NA>
h_1000gb                 0               0   8659989161   286713240064   <NA>
h_1000gb_01     8659989739   1218094056198   8659989739   286756049408   <NA>
h_1000gb_01a    8659989739   1218094056198   8659989739   286756049408   <NA>
h_100gb                  0               0    866037932    27540365312   <NA>
h_100gb_01       866037932    121814910941    866037932    27564097024   <NA>
h_100gb_01a      866037932    121814910941    866037932    27564097024   <NA>
h_1gb_01           8661245      1218354537      8661245      260166144   <NA>
h_1gb_01a          8661245      1218354537      8661245      260166144   <NA>

In [4]:
x = df_all[df_all.dataset == "ds_1gb_01"]
x

,dataset,table,rows_bq,bytes_bq,rows_sf,bytes_sf,match
107,ds_1gb_01,call_center,6,2095,6,4096,True
108,ds_1gb_01,catalog_page,11718,1817060,11718,647680,True
109,ds_1gb_01,catalog_returns,144197,30627832,144197,7515648,True
110,ds_1gb_01,catalog_sales,1440271,390075816,1440271,94854656,True
111,ds_1gb_01,customer,100000,15887373,100000,4730368,True
112,ds_1gb_01,customer_address,50000,6321206,50000,979456,True
113,ds_1gb_01,customer_demographics,1920800,127870400,1920800,9341440,True
114,ds_1gb_01,date_dim,73049,14254991,73049,2223616,True
115,ds_1gb_01,dbgen_version,0,0,0,0,True
116,ds_1gb_01,household_demographics,7200,298800,7200,26112,True
117,ds_1gb_01,income_band,20,480,20,1024,True
118,ds_1gb_01,inventory,11745000,371142832,11745000,50421248,True
119,ds_1gb_01,item,18000,5683890,18000,1516544,True
120,ds_1gb_01,promotion,300,44766,300,14336,True
121,ds_1gb_01,reason,35,1558,35,1536,True
122,ds_1gb_01,ship_mode,20,1219,20,2048,True
123,ds_1gb_01,store,12,3668,12,4608,True
124,ds_1gb_01,store_returns,288155,44641384,288155,11494400,True
125,ds_1gb_01,store_sales,2877732,507665712,2877732,130861056,True
126,ds_1gb_01,time_dim,86400,7081200,86400,1112576,True
127,ds_1gb_01,warehouse,5,715,5,2048,True
128,ds_1gb_01,web_page,60,6979,60,2560,True
129,ds_1gb_01,web_returns,72421,13332952,72421,3568128,True
130,ds_1gb_01,web_sales,720157,195837760,720157,47251456,True
131,ds_1gb_01,web_site,30,9507,30,7168,True

In [5]:
x.table

107               call_center
108              catalog_page
109           catalog_returns
110             catalog_sales
111                  customer
112          customer_address
113     customer_demographics
114                  date_dim
115             dbgen_version
116    household_demographics
117               income_band
118                 inventory
119                      item
120                 promotion
121                    reason
122                 ship_mode
123                     store
124             store_returns
125               store_sales
126                  time_dim
127                 warehouse
128                  web_page
129               web_returns
130                 web_sales
131                  web_site
Name: table, dtype: object