### Compare Row Sums  
Sum rows for required columns between systems under test. For TPC test and scale factor, the sum should be identical.  

Note: The same source data should have been used to generate both databases. TPC data generators will generate slightly different data when generated with different numbers of CPU cores/threads.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import config, tools, compare

pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999

In [2]:
qc = compare.QueryCompare()

# these class attributes don't influence needed metadata collection
qc.test = "ds"
qc.scale = 1
qc.cid = "01"
qc.stream_n = 1
qc.desc =  "qc_row_sum"
qc.seq_id = "NA"

# none of these are useful in this case
qc.verbose = False
qc.verbose_query = False
qc.qual = False
qc.save = False
qc.verbose_iter = False

qc.set_timestamp_dir()

df_result = qc.compare_sum()

In [3]:
df_result

,table,column,sf,bq,equal
0,call_center,cc_call_center_sk,21,21,True
1,catalog_page,cp_catalog_page_sk,68661621,68661621,True
2,catalog_returns,cr_order_number,11556304671,11556304671,True
3,catalog_sales,cs_order_number,115268960347,115268960347,True
4,customer,c_customer_sk,5000050000,5000050000,True
5,customer_address,ca_address_sk,1250025000,1250025000,True
6,customer_demographics,cd_demo_sk,1844737280400,1844737280400,True
7,date_dim,d_date_sk,179082983754,179082983754,True
8,household_demographics,hd_demo_sk,25923600,25923600,True
9,income_band,ib_income_band_sk,210,210,True
10,inventory,inv_item_sk,105701850000,105701850000,True
11,item,i_item_sk,162009000,162009000,True
12,promotion,p_promo_sk,45150,45150,True
13,reason,r_reason_sk,630,630,True
14,ship_mode,sm_ship_mode_sk,210,210,True
15,store,s_store_sk,78,78,True
16,store_returns,sr_item_sk,2592833753,2592833753,True
17,store_sales,ss_item_sk,25896681004,25896681004,True
18,time_dim,t_time_sk,3732436800,3732436800,True
19,warehouse,w_warehouse_sk,15,15,True
20,web_page,wp_web_page_sk,1830,1830,True
21,web_returns,wr_item_sk,651194503,651194503,True
22,web_sales,ws_item_sk,6473504758,6473504758,True
23,web_site,web_site_sk,465,465,True